/* Pieces Section */
.piece-section {
}

/* Pieces */
.pieces {
  padding-block: var(--pieces__padding__vertical);
  padding-inline: var(--pieces__padding__horizontal);

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: var(--pieces__gap__vertical);
  column-gap: var(--pieces__gap__horizontal);

  font-family: 'Sono', sans-serif;
}

.pieces > .trim-line {
  position: absolute;
  background-color: #000;
  mix-blend-mode: difference;
  pointer-events: none;
}

.pieces > .trim-line.--top,
.pieces > .trim-line.--bottom {
  width: calc(var(--pieces__gap__horizontal));
  height: calc(var(--pieces__padding__vertical) - 1mm);
}

.pieces > .trim-line.--top {
  top: 0;
  left: calc(
    var(--pieces__padding__vertical) + (var(--pieces__gap__horizontal) + 48mm) * (var(--trim-line__order) - 1) -
      var(--pieces__gap__horizontal)
  );
}

.pieces > .trim-line.--bottom {
  bottom: 0;
  left: calc(
    var(--pieces__padding__vertical) + (var(--pieces__gap__horizontal) + 48mm) * (var(--trim-line__order) - 1) -
      var(--pieces__gap__horizontal)
  );
}

.pieces > .trim-line.--left,
.pieces > .trim-line.--right {
  width: calc(var(--pieces__padding__horizontal) - 1mm);
  height: calc(var(--pieces__gap__vertical));
}

.pieces > .trim-line.--left {
  left: 0;
  top: calc(
    var(--pieces__padding__horizontal) + (var(--pieces__gap__vertical) + 48mm) * (var(--trim-line__order) - 1) -
      var(--pieces__gap__vertical)
  );
}

.pieces > .trim-line.--right {
  right: 0;
  top: calc(
    var(--pieces__padding__horizontal) + (var(--pieces__gap__vertical) + 48mm) * (var(--trim-line__order) - 1) -
      var(--pieces__gap__vertical)
  );
}

@media screen {
  .pieces > .trim-line {
    display: none;
  }
}

.pieces > .piece,
.pieces > .piece-faces,
.pieces > .piece-flip-wrapper {
  width: 4.8cm;
  height: 4.8cm;
}

/* Piece Flip Wrapper */
.piece-flip-wrapper {
  position: relative;
  background-color: inherit;
}

.piece-flip-wrapper > .piece-faces {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  box-shadow: 0 0 0.2cm 0 color-mix(in srgb, #000 25%, transparent);
}

.piece-flip-wrapper:active > .piece-faces {
  transform: rotateY(180deg);
}
